ul {
  list-style-type: none;
  padding-right: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.rows {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.column {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
